@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
body{
  padding: 0;
  margin: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
}
li {
  list-style-type: none;
}
a{
  text-decoration: none;
}

/******Navbar********/
nav {
    overflow:hidden;
    position: fixed;
    background-color: #f2e9e4;
    width: 100%;
    opacity: 0.9;  
}

header li a {
  float: right;
  font-family: "Advent Pro";
  font-size: 1.2em;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px 30px;
  color:#22223B; 
}
header li a:hover{
  color:white;
}

#logo{
  font-size: 2em;
  float: right;
  padding: 10px  600px 10px 10px;
  font-family: 'Satisfy', cursive;
}
  titre{
    padding-top: 60px; 
    overflow: hidden;
    background-color: #22223B;
  }
  h2 {
    font-size: 22px;
    font-family: 'Bad Script', cursive;
    padding: 0px 2%;
   
 }
 #venteP{
    padding-top: 60px;
    overflow: hidden;
    background-color:#C9ADA7;
    text-align: center;
}
 .venteP{
  justify-content: center;
  padding: 10px;
  text-align: center;
 }

.venteP a{
 text-align: center;
  color:#22223B;
  font-family: 'Bad Script', cursive;
  font-size: 1.3em;
}

.venteP a
{
    color :#22223B;
}
 
.venteP a:hover
{
    color :white;
}

  #Montre{
    padding-top: 30px;
    overflow: hidden;
   background-color: #22223B;
    color: #C9ADA7;
    display: flex;
  }

  .montreblock{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }

  .montreblock img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
   }

  #Bijoux{
    padding-top: 30px;
    overflow: hidden;
    background-color: #C9ADA7;
    color: #22223B;
    display: flex;
  }
  .bijouxblock{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .bijouxblock img:hover {
   opacity: 0.5;
   transform: scale(1.05);
   transition: 0.6s ease-in-out;
  }



h3{
 font-family: "Advent Pro";
 text-decoration: none;
 color: #C9ADA7;
  text-align: center;
  font-size: 1em;
  font-style: normal;
  margin: 15px;
  
  
}

h4{
  font-family: "Advent Pro";
  color: #C9ADA7;
  text-align: center;
  font-size: 1em;
  font-style: normal;
  margin: 15px;
}
h5{
  font-family:'Advent Pro';
  font-size: 1.4em;
  margin: 15px;
}


footer{
  padding-top: 30px;
  overflow: hidden;
  background-color: #22223B;
  color: #C9ADA7;
  display: flex;
  flex-wrap: wrap;

  
}
footer li a{
  font-family: "Advent Pro";
  color: #C9ADA7;
  font-size: 1.3em;
  padding: 20px 20px;
}
.montreblock a{
  color:#C9ADA7;
}

.bijouxblock a {
  color:#22223B;
}

